<h3>Galerie des arbres (miniatures)</h3>

<div style="display: flex; align-items: center; justify-content: center; gap: 20px;">

  <!-- Bouton Précédent (chevron gauche) -->
  {% if page > 0 %}
    <form method="get" action="/" style="margin: 0;">
      <input type="hidden" name="page" value="{{ page - 1 }}">
      <button type="submit" style="font-size: 24px; border: none; background: none;">&#x276E;</button>
    </form>
  {% endif %}

  {% for item in trees %}
  Arbre {{ item.index }}<br>
  <small>Poids : {{ item.weight }}</small>
{% endfor %}

  <!-- Les deux arbres affichés -->
<div style="display: flex; gap: 20px; flex-wrap: nowrap;">
  {% for item in trees_paginated %}
    <div style="text-align: center;">
      <form method="get" action="/">
        <input type="hidden" name="page" value="{{ current_page }}">
        <button type="submit" style="border: none; background: none;">
          <img src="{{ url_for('static', filename='trees/tree_' ~ item.index ~ '.png') }}" width="150" height="150" style="border: 1px solid #ccc;"/>
        </button>
      </form>
      <p>Arbre {{ item.index }}<br><small>Poids: {{ item.weight }}</small></p>
    </div>
  {% endfor %}
</div>

  <!-- Bouton Suivant (chevron droit) -->
  {% if page < n_pages-1 %}
    <form method="get" action="/" style="margin: 0;">
      <input type="hidden" name="page" value="{{ page + 1 }}">
      <button type="submit" style="font-size: 24px; border: none; background: none;">&#x276F;</button>
    </form>
  {% endif %}

  {% include "components/add_tree.html" %}

</div>